* {
    margin: 0;
    padding: 0;
}
a {
    color: #f4f4f4;
    text-decoration: none;
    transition: 0.3s;
}
a:hover {
    opacity: 0.7s;
}
.logo {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #020002;
    height: 9vh;
}
@font-face {
            font-family: 'Gobold';
            src: url('fontes/Gobold Regular.otf') format('opentype');
            font-weight: normal;
            font-style: normal;
main {
    background: url(images/leaf-hand-drawn-simple-abstract-seamless-pattern-background-free-vector.jpg) no-repeat 
    center center ;
    background-size: cover;
    height: 91vh;
}
.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}